/* ---------------------------------------General Tags---------------------------------------  */
:root{
    --bgcolor : rgb(25, 211, 218,0.22);
    --textcolor1: rgb(34, 40, 49);
    --project-box: rgb(196, 198, 200);
}

body{
    font-family: 'Oswald', sans-serif;
}

html{
    scroll-behavior: smooth;
}

h2{
    text-align: center;
    padding: 5% 0;
    font-size: 5vh;
}

/* --------------------------------------- NavBar ---------------------------------------  */

.navbar-brand{
    font-size: 2rem;
    margin: 0 0 0 1%;
}

.bar-left{
    margin-right: 8%;
}

.bar-right{
    margin-left: 8%;
}

.nav-link{
    margin: 0 1rem;
}

.navbar{
    background-color: white;
    font-size: 1.25rem;
}

.shadow-header{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.22);
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color: var(--textcolor1);
}


/* --------------------------------------- Title Section ---------------------------------------  */

#title{
    background-color: var(--bgcolor);
    padding: 17% 14% 10%;
}

.left-title{
    text-align: right;
    position: relative;
    left: 6%;
}

.left-title h1{
    font-size: 6rem;
    font-weight: 400;
}

.left-title h3{
    font-size: 2.5rem;
    font-weight: 400;
}

.line{
    background-image: linear-gradient(var(--textcolor1), var(--textcolor1));
    background-size: 1px 120%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 25rem;
    position: relative;
    bottom:3.5rem;  
}

.right-title{
    position: relative;
    right: 6%;
    top: 5rem;
}

.right-title h1, .right-title h3{
    font-weight: 300;
}

/* --------------------------------------- About Me Section ---------------------------------------  */

#AboutMe{
    text-align: center;
}

.about-text{
    padding: 4% 30% 4%;
    font-size: 1.4rem;
}


.cv-link{
    padding: 1%;
    text-decoration: none;
    border: 1px solid var(--textcolor1);
    /* background-color: var(--bgcolor); */
    color: var(--textcolor1);
}

.cv-link:hover{
    text-decoration: none;
    background-color: var(--textcolor1);
    color: white;
    border: 1px solid var(--textcolor1);
    
}

/* ----------------------------------------Media Queries --------------------------------------- */

@media (max-width: 1199px){

    /* NavBar  */
    .bar-right, .bar-left{
        margin: 0;
    }

    .navbar-brand, .nav-link{
        margin: 0 5% 0;
    }

    .navbar-toggler{
        margin: 0 5% 0;
        color: var(--textcolor1);
        border: none;
    }
}

@media (max-width: 991px){

    /* Title Section  */

    .right-title, .left-title{
        text-align: center;
        position: static;
    }

    .line{
        display: none;
    }

    .right-title{
        margin-top: 5%;
    }

    .left-title h1{
        font-size: 4rem;
    }

    .left-title h3{
        font-size: 2rem;
    }
    .right-title h1{
        font-size: 2rem;
    }
}