/* ---------------------------------------General Tags---------------------------------------  */
:root{
    --bgcolor : rgb(25, 211, 218,0.22);
    --textcolor1: rgb(34, 40, 49);
    --textcolor2: rgb(98, 103, 110, 0.8);
    --project-box: rgba(167, 228, 247, 0.2);
    --main-font: 'Oswald', sans-serif;
}

body{
    font-family: var(--main-font)
}

html{
    scroll-behavior: smooth;
}

h2{
    text-align: center;
    padding: 5% 0;
    font-size: 2.5rem;
}

/* --------------------------------------- PreLoader ---------------------------------------  */

.spinner-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    z-index: 999999;
    }

.spinner {
    width: 40px;
    height: 40px;
    background-color: var(--textcolor1);
    position: absolute;
    top: 48%;
    left: 48%;  
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  }
  
  @-webkit-keyframes sk-rotateplane {
    0% { -webkit-transform: perspective(120px) }
    50% { -webkit-transform: perspective(120px) rotateY(180deg) }
    100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
  }
  
  @keyframes sk-rotateplane {
    0% { 
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
    } 50% { 
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
    } 100% { 
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }


/* --------------------------------------- NavBar ---------------------------------------  */

.navbar-brand{
    font-size: 2rem;
    margin: 0 2% 0 0;
}

.bar-left{
    margin-right: 8%;
}

.bar-right{
    margin-left: 8%;
}

.nav-link{
    margin: 0 1rem;
}

.navbar{
    background-color: white;
    font-size: 1.25rem;
}

.shadow-header{
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.22);
}

.navbar-light .navbar-nav .nav-link{
    color: var(--textcolor1);
}


/* --------------------------------------- Title Section ---------------------------------------  */

#title{
    background-color: var(--bgcolor);
    height: 97vh;
}

.title-container{
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.left-title{
    text-align: right;
    position: relative;
    left: 6%;
}

.left-title h1{
    font-size: 6rem;
    font-weight: 400;
}

.left-title h3{
    font-size: 2.5rem;
    font-weight: 400;
}

.line{
    background-image: linear-gradient(var(--textcolor1), var(--textcolor1));
    background-size: 1px 120%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 25rem;
    position: relative;
    bottom:3.5rem;  
}

.right-title{
    position: relative;
    right: 6%;
    top: 5rem;
}

.right-title h1, .right-title h3{
    font-weight: 300;
}

/* --------------------------------------- About Me Section ---------------------------------------  */

#AboutMe{
    text-align: center;
}

.about-text{
    padding: 4% 30% 4%;
    color: var(--textcolor1);
    font-size: 1.4rem;
    font-weight: 300;
}

.dp{
    width: 20vw;
}

.cv-link{
    padding: 1%;
    text-decoration: none;
    border: 1px solid var(--textcolor1);
    border-radius: 10px;
    color: var(--textcolor1);
}

@media (hover: hover){
    .cv-link:hover{
        text-decoration: none;
        background-color: var(--textcolor1);
        color: white;
        border: 1px solid var(--textcolor1);
    }
}


/* --------------------------------------- Education Section ---------------------------------------  */

#Education{
    background-color: var(--bgcolor);
    margin-top: 5%;
    text-align: center;
    color: var(--textcolor1);
    padding-bottom: 3%;
}

.card1, .card2, .card3{
    background-color: white;
    width: 70%;
    border-radius: 10px;
    padding: 10% 5%;
    border: 0px;
}

.card1{
    margin: 0 0 0 auto;
}

.card2{
    margin: 0 auto 0;
}

.card-club{
    margin: 0 0 5%;
}

.card h4, .card h3, .card h5, .card h6{
    font-weight: 400;
    font-size: max(1.3vw, 1.5vh);
}

.edu-icon{
    font-size: 3vw;
    margin: 5% 0;
}

.edu-sec-text{
    color: var(--textcolor2);
}

/* --------------------------------------- Experience Section ---------------------------------------  */

#experience h3{
    font-size: 3vh;
    font-weight: 400;
}

.company-logo{
    margin: 5% 5%;
    width: max(14vh, 13vw);
}

.left-exp{
    text-align: right;
    margin: auto 0 auto 0;
}

.right-exp{
    padding: 0;
}

.exp-row{
    margin: 0;
}

#experience h6{
    color: var(--textcolor2);
}

#experience li{
    width: 50%;
    color: var(--textcolor2);
    font-size: 2vh;
    font-weight: 300;
}

#experience ul{
    padding-left: 3%;
}

/* --------------------------------------- Skills Section ---------------------------------------  */

#skills{
    background-color: var(--bgcolor);
    margin-top: 5%;
    padding-bottom: 5%;
}

.skill-box{
    background-color: white;
    padding: 10% 5%;
    width: 70%;
    text-align: center;
    border-radius: 10px;
}

.skill-box-container{
    margin: 0;
}

.sbox1{
    margin: 0 0 0 auto;
}

.sbox2{
    margin: 0 auto 0;
}

.skill-icon{
    font-size: 2rem;
    margin: 3% 0 10%;
}

.skill-text{
    font-weight: 400;
    color: var(--textcolor2);
}

/* --------------------------------------- Projets Section ---------------------------------------  */

.carousel-item{
    padding: 0% 25% 8%;
}

.pro-left{
    text-align: right;
}

.pro-holder{
    background-color: var(--project-box);
    padding: 5%;
    border-radius: 2%;
}

.tech-points{
    direction: rtl;

}

.tech-points ul{
    padding: 5%;
}

.tech-points li{
    font-size: max(1vh,1vw);
}

#projects p{
    font-weight: 300;
    font-size: max(1vw, 1vh);
    text-align: justify;
    text-justify: inter-word;
}

#projects h4{
    font-size: max(1.3vw,1vh);
}

.carousel-indicators li{
    background-color: var(--textcolor1);
    margin-bottom: 3%;
    border-radius: 100%;
    width: 0.7vw;
    height: 0.7vw;
}

.link{
    color: var(--textcolor1);
    font-size: max(1.5vw,1vh);
}

.link:hover{
    color: var(--textcolor2);
}

.left-arrow, .right-arrow{
    font-size: 1.5rem;
    color: var(--textcolor1);
}
/* --------------------------------------- Contact Me Section ---------------------------------------  */

#Contact{
    text-align: center;
    padding: 2% 0;
    background-color: var(--bgcolor);
}

.contact-icon{
    font-size: 1.5rem;
    margin: 30px 1% 20px;
    color: var(--textcolor1);
}

.contact-icon:hover{
    color: var(--textcolor2);
}

/* ----------------------------------------Media Queries --------------------------------------- */

@media (max-width: 1199px){

    html{
        font-size: 12px;
    }

    /* NavBar  */
    .bar-right, .bar-left{
        margin: 0;
    }

    .navbar-brand, .nav-link{
        margin: 0 5% 0;
    }

    .navbar-toggler{
        margin: 0 5% 0;
        color: var(--textcolor1);
        border: none;
    }
}


/* For Tablet */

@media (max-width: 992px){

    html{
        font-size: 10px;
    }

    h2{
        font-size: 3rem;
        padding: 7% 0;
    }

    /* Title Section  */

    .right-title, .left-title{
        text-align: center;
        position: static;
    }

    .line{
        display: none;
    }

    .right-title{
        margin-top: 7%;
    }

    .left-title h1{
        font-size: 5rem;
    }

    .left-title h3{
        font-size: 2rem;
    }
    .right-title h1{
        font-size: 3rem;
    }

    /* About Me Section  */

    #AboutMe{
        padding-bottom: 3%;
    }

    /* .dp{
        width: 15vh;
    } */

    .about-text{
        padding: 6% 20%;
    }

    .cv-link{
        padding: 1.5%;
    }

    .cv-link:visited, .cv-link:focus{
        text-decoration: none;
        color: var(--textcolor1);
    }

    /* Education Section  */

    .card1{
        width: 60%;
        padding: 4%;
    }

    .card1{
        margin: 0 auto;
    }

    .card2-holder{
        margin: 2% 0 0 13%;
        padding-right: 0;
    }

    .card3-holder{
        margin: 2% 0 0 0;
        padding-left: 0;
        position: relative;
        right: 4%;
    }

    .edu-icon{
        font-size: 2.5vh;
    }

    /* Experience Section  */

    #experience li{
        font-size: 2vh;
        width: 60%;
    }
}

  /* For Mobile  */
  
@media (max-width: 767px){

    h2{
        font-size: 2rem;
    }

    /* Education Section  */

    .card1, .card3, .card2{
        width: 60%;
        padding: 4%;
        margin: 0 auto 0;
    }

    .card2-holder{
        margin: 5% 0 0;
        padding-right: 15px;
    }

    .card3-holder{
        margin: 5% 0 0;
        right: 0;
        padding-left: 15px;
    }

    .card h4, .card h3, .card h5, .card h6{
        font-size: max(1.5vh, 2vw);
    }

    /* Experience Section  */

    .company-logo{
        margin-left: 0;
    }

    .left-exp{
        text-align: left;
        padding-left: 10%;
    }

    .right-exp{
        padding-left: 10%;
    }

    #experience h3{
        font-size: 2vh;
    }

    #experience li{
        font-size: 1.5vh;
        width: 60%;
    }

    #experience ul{
        padding-left: 6%;
    }

    /* Projects Section  */

    .carousel-item{
        padding: 0 25% 12%;
    }

    .pro-left{
        text-align: left;
    }    

    .tech-points{
        direction: ltr;
    }

    .tech-points ul{
        padding-bottom: 0;
    }

    .link{
        margin-bottom: 3%;
    }

    /* Contact Me Section  */

    .contact-icon{
        margin: 30px 2% 15px;
    }


}